/* 

--Font Colors--
Main Color - #2E2F42
Secondary Color - #434455
Light Colors - 
#FFFFFF
#E7E9FC
Blue color - #4D5AE5

--Background colors-- 
Main Color - #FFFFFF
Secondary color -#2E2F42
Section ligth color - #F4F4FD

Botton dark blue color - #404BBF
Bottom light Blue color - #E5E5E5


--Font Size-- 
Logo -18px 
Main size - 20px
Secondary - 16px

*/
/* Main style */

body {
  color: #2e2f42;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  background-color: #fff;
}

/* Common styling*/

.logo,
.footer__logo {
  font-family: "Raleway", "sans-serif";
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  line-height: 1.2;
}

.logo span,
.footer__logo span {
  color: #4d5ae5;
}

.nav__list,
.address__list,
.portfolio__nav {
  list-style: none;
}
.nav-item__link,
.address-item__action {
  text-decoration: none;
}

/* ====Header====== */

.header {
  font-size: 16px;
  line-height: 1.5;
}

.logo {
  color: #2e2f42;
}

.nav-item__link {
  font-weight: 500;
  color: #2e2f42;
}

.address-item__action {
  color: #434455;
}

/*=====Footer====*/

.footer {
  background-color: #2e2f42;
}

.footer__logo {
  color: #fff;
}

.footer__cta {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
